
@{
    Layout = null;
}
@model WebApplication1.ViewModels.MovieViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="~/Styles/StyleSheet2.css">
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body oncontextmenu='return false' class='snippet-body'>

    <nav class="navbar navbar-inverse">
        @using (Html.BeginForm("GetMovieInfo", "Movie", FormMethod.Post))
        {
            <div class="container-fluid">
                @Html.TextBoxFor(model => model.Movie)
                <div class="collapse navbar-collapse" id="myNavbar">
                </div>
            </div>

            <input type="submit" name="" value="Search" href="#">
        }
        <input type="button"
               value="Go Somewhere Else"
               onclick="location.href='<%: Url.Action("sds", "Movie" ) %>'" />
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav ">

            </div>

            <div class="col-sm-8 text-left bg">
                <h1>Welcome</h1>
                @ViewBag.movieid



                <hr>
                <h3>Test</h3>
                <p>Lorem ipsum...</p>
            </div>
            <div class="bg inf">@ViewBag.title</div>
            <div class="bg infk"> @ViewBag.description</div>
            
        </div>
    </div>
</body>
</html>
